@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;



@layer base {
  
  dct-card {
    @apply border;
  }
  
  dct-carousel {
    dct-card {
      width: 197px;
      max-width: 187px;
      height: 252px;
      padding: 16px;

      img {
        height: 220px;
        width: 165px;
        aspect-ratio: unset;
        object-fit: fill;
      }
    }
  }
  
  dct-button.outlined {
    @apply border;
  }

  .main-carousel-card {
    .card-small {
      @apply p-0 h-full block flex items-end;
      img {
        @apply w-full h-full object-cover rounded-[32px];
      }
    }
  }

  .main-carousel-card-title.card-small {
    @apply hidden;
  }
}

:root {
  --dct-accordion-border-color: white;
}
