@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* dct-card {
    border-width: 1px;
    img {
      object-fit: contain;
      padding-top: 1rem;
    }
  } */
  dct-card-title {
    /* --dct-card-title-padding-left: 0rem;
    --dct-card-title-padding-right: 0rem; */
    /* --dct-card-title-padding-top: 0rem; */
    /* --dct-card-title-padding-bottom: 0rem; */
  }

  dct-card.card-container.outlined.hydrated.card-small {
    background-color: green;
    padding: 0;
    object-fit: cover;
    img {
      height: 252px;
    }
  }
  
  dct-carousel {
    dct-card {
      @apply border;
      width: 197px;
      max-width: 187px;
      height: 252px;
      padding: 16px;

      img {
        height: 220px;
        width: 165px;
        aspect-ratio: unset;
        object-fit: fill;
      }
    }
  }
  
  dct-button.outlined {
    @apply border;
  }

  .main-carousel-card {
    .card-small {
      @apply p-0 h-full block flex items-end;
      img {
        @apply w-full h-full object-cover rounded-[32px];
      }
    }
  }

  .main-carousel-card-title.card-small {
    @apply hidden;
  }
}

